-- Aula 2 — navegação de metadados pelo CLI
-- Interativo:  docker compose exec -it trino trino
-- Batch:       docker compose exec -T trino trino --file /dev/stdin < queries.sql

-- ---------------------------------------------------------------
-- 1. Descoberta: do catálogo até a coluna
-- ---------------------------------------------------------------
SHOW CATALOGS;

SHOW SCHEMAS FROM tpch;

SHOW TABLES FROM tpch.tiny;

-- LIKE funciona em SHOW SCHEMAS e SHOW TABLES
SHOW TABLES FROM tpch.tiny LIKE 'c%';

SHOW COLUMNS FROM tpch.tiny.customer;

-- DESCRIBE é sinônimo de SHOW COLUMNS
DESCRIBE tpch.tiny.customer;

-- ---------------------------------------------------------------
-- 2. Sessão: catálogo e schema default
-- ---------------------------------------------------------------
USE tpch.tiny;

-- agora o nome da tabela dispensa o prefixo
SELECT count(*) AS total_clientes FROM customer;

-- de volta ao nome completo, sempre válido
SELECT count(*) AS total_pedidos FROM tpch.tiny.orders;

-- ---------------------------------------------------------------
-- 3. Metadados como tabela: information_schema
-- ---------------------------------------------------------------
SELECT table_name, column_name, data_type
FROM tpch.information_schema.columns
WHERE table_schema = 'tiny'
  AND table_name = 'orders'
ORDER BY ordinal_position;

SELECT table_schema, count(*) AS tabelas
FROM tpch.information_schema.tables
GROUP BY table_schema
ORDER BY table_schema;

-- ---------------------------------------------------------------
-- 4. Sessão e ambiente
-- ---------------------------------------------------------------
SELECT current_user, current_catalog, current_schema;

SELECT current_timezone(), current_date, localtimestamp;

-- Propriedades de sessão ativas (só as alteradas aparecem como value <> default)
SHOW SESSION LIKE 'query_max%';

-- ---------------------------------------------------------------
-- 5. Uma consulta larga, para comparar formatos de saída
--    (rode a mesma com --output-format=VERTICAL e =MARKDOWN)
-- ---------------------------------------------------------------
SELECT *
FROM tpch.tiny.customer
LIMIT 3;
