-- Aula 3 — arquitetura na prática
-- docker compose exec -it coordinator trino

-- ===============================================================
-- 1. O cluster se enxerga
-- ===============================================================

-- Deve listar 3 nós: 1 coordinator e 2 workers, todos em state 'active'
SELECT node_id, http_uri, node_version, coordinator, state
FROM system.runtime.nodes
ORDER BY coordinator DESC, node_id;

-- ===============================================================
-- 2. Catálogo, schema, tabela: o nome de três partes
-- ===============================================================

SHOW CATALOGS;
SHOW SCHEMAS FROM tpch;
SHOW TABLES FROM tpch.tiny;

-- A mesma tabela, escrita das três formas
SELECT count(*) FROM tpch.tiny.nation;
USE tpch.tiny;
SELECT count(*) FROM nation;
SELECT count(*) FROM tpch.tiny.nation;

-- ===============================================================
-- 3. Stage: a árvore que o coordinator monta
-- ===============================================================

-- Plano distribuído: procure as linhas "Fragment N" — cada fragmento é um stage
EXPLAIN (TYPE DISTRIBUTED)
SELECT n.name, count(*) AS pedidos
FROM tpch.sf1.orders o
JOIN tpch.sf1.customer c ON c.custkey = o.custkey
JOIN tpch.sf1.nation n   ON n.nationkey = c.nationkey
GROUP BY n.name;

-- Saída observada no Trino 483 (4 fragmentos):
--   Fragment 0 [HASH]                     -> raiz; Output partitioning: SINGLE []
--   Fragment 1 [tpch:orders:1500000]      -> lê orders; particiona por HASH [name]
--   Fragment 2 [SOURCE]                   -> lê customer; Output partitioning: BROADCAST
--   Fragment 3 [SOURCE]                   -> lê nation;   Output partitioning: BROADCAST
--
-- O rótulo entre colchetes é a distribuição de ENTRADA do fragmento;
-- "Output partitioning" é como ele ENTREGA os dados ao fragmento pai.
-- BROADCAST = a tabela pequena é replicada para todos os nós (join broadcast).

-- ===============================================================
-- 4. Task, split, driver e operador: EXPLAIN ANALYZE
-- ===============================================================

EXPLAIN ANALYZE
SELECT n.name, count(*) AS pedidos
FROM tpch.sf1.orders o
JOIN tpch.sf1.customer c ON c.custkey = o.custkey
JOIN tpch.sf1.nation n   ON n.nationkey = c.nationkey
GROUP BY n.name;

-- Procure na saída:
--   "Fragment N" seguido de "CPU: ..., Scheduled: ..., Input: X rows"
--   ScanFilterProject   -> operador de leitura + filtro + projeção
--   InnerJoin           -> operador de join, com "Left (build)" e "Right (probe)"
--   Aggregate           -> agregação parcial e final
--   RemoteSource        -> a ponta receptora de um exchange

-- ===============================================================
-- 5. Splits: a unidade de paralelismo de leitura
-- ===============================================================

-- Enquanto a query abaixo roda, abra OUTRO terminal e consulte
-- system.runtime.tasks (bloco 6). Aqui o objetivo é ter uma query longa.
SELECT count(*) AS itens, sum(extendedprice) AS total
FROM tpch.sf1.lineitem;

-- ===============================================================
-- 6. Observando a execução (rodar em sessão paralela)
-- ===============================================================

DESCRIBE system.runtime.queries;

SELECT query_id, state, "user", created, started, substr(query, 1, 50) AS inicio
FROM system.runtime.queries
WHERE state = 'RUNNING';

-- Tasks de uma query: uma linha por task, com o nó que a executa
-- Colunas variam entre versoes; comece com DESCRIBE para ver o que existe.
DESCRIBE system.runtime.tasks;

SELECT *
FROM system.runtime.tasks
WHERE state = 'RUNNING';

-- ===============================================================
-- 7. Ordem não é garantida (tabela é conjunto NÃO ordenado)
-- ===============================================================

-- Rode 3 vezes e compare a ordem das linhas
SELECT custkey, name FROM tpch.sf1.customer LIMIT 10;

-- Com ORDER BY, aí sim há garantia
SELECT custkey, name FROM tpch.sf1.customer ORDER BY custkey LIMIT 10;

-- ===============================================================
-- 8. Métricas do cluster pelo catálogo system
-- ===============================================================

-- Quantas queries já passaram por este cluster, por estado
SELECT state, count(*) AS qtd
FROM system.runtime.queries
GROUP BY state
ORDER BY qtd DESC;
